/* ----- variaveis ---- */
$azul-primario: #164c81;
$azul-secundario: #0d75db;
$verde: #24976B;
$preto-primario: #0B271D;
$preto-secundario: #112F23;
$preto-terciario: #18191F;
$turquesa: #2EC5CE;
$branco: #F6F6F6;

 
/* ---- mixins ------ */
@mixin button {
  background-color: $azul-secundario;
  padding: 16px;
  display: block;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  border: none;
  transition: all .5s ease;

  @include md{
    font-size: 24px;
  }

  @include lg{
    font-size: 16px;
  }

  &:hover{
    background-color: $azul-primario;
  }
}

/* ----- medias ----- */
@mixin sm {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1270px) {
      @content;
  }
}
